@model FitnessMVC.Models.Schede

@{
    ViewBag.Title = "Details";
}
<div class="row">
    <img class="img-rounded img-circle img-scheda" src='@Url.Content("~/Content/Immagini/Schede/" + Model.Id + ".jpg")' /> <h4>@Model.Nome</h4>
</div>
@Html.ActionLink(" ", "PersonalTrainer", "Home", null, new { @class = "glyphicon glyphicon-arrow-left text-primary" })
<hr />
@foreach (var gruppo in (List<FitnessMVC.Models.AllPercViewModel>)ViewBag.Allenamenti)
{
    <div class="row">
            <div class="col col-md-4">
                
                <a href='@Url.Action("DetailsUt", "Schedes", new { id = Model.Id, ese = gruppo.Numero })'><img class="img-usr" src='@Url.Content("~/Content/Immagini/Giorni/" + @gruppo.Numero + ".jpg")' /> Allenamento N.@gruppo.Numero </a>
            </div>
            <div class="col col-md-8">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: @(gruppo.SommaSerieUt * 100 / gruppo.SommaSerie)%;">
                        @(gruppo.SommaSerieUt * 100 / gruppo.SommaSerie)%
                    </div>
                </div>
                @*Se l'allenamentoè stato finito calcolo i giorni o le ore impiegati*@
                @if ((gruppo.SommaSerieUt * 100 / gruppo.SommaSerie) >= 100)
                {
                    if (@Convert.ToInt32(gruppo.DataFine.ToOADate() + 1 - @gruppo.DataInizio.ToOADate()) > 1)
                    {
                        @*Qui calcolo i giorni*@
                        <div class="text-center">
                            <span class="badge">@Convert.ToInt32(gruppo.DataFine.ToOADate() + 1 - @gruppo.DataInizio.ToOADate()) giorni</span> dal <em>@gruppo.DataInizio.ToString("dd MMM yyyy")</em> al <em>@gruppo.DataFine.ToString("dd MMM yyyy")</em>
                        </div>
                    }
                    else
                    {
                        @*Qui calcolo le ore*@
                        <div class="text-center">
                            <span class="badge">@(gruppo.DataFine.Subtract(gruppo.DataInizio))</span><em> @gruppo.DataInizio.ToString("dddd dd MMM yyyy")</em>
                        </div>
                    }
                }
            </div>
        </div><hr class="hr2"/>
}
@Html.ActionLink(" ", "PersonalTrainer", "Home", null, new { @class = "glyphicon glyphicon-arrow-left text-primary " })
